<a href="https://colab.research.google.com/github/krishna-gbu/IPL-Data-Analysis/blob/master/pythonRevision.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
def mai():
  a=10
  b=20
  c=30
  print(a,b,c)

In [55]:
if __name__=="__mai__":
   mai()

In [56]:
print(__name__)

__main__

In [57]:
def fun(a=0,b=0,c=0):
  print(a,b,c)

In [58]:
fun(60)

60 0 0

In [59]:
def sum(*a):
  print(a)
  print(type(a))

In [60]:
sum(1,2)

(1, 2)
<class 'tuple'>

In [61]:
sum()

()
<class 'tuple'>

In [62]:
def fn(n):
  if n!=0:
    fn(n-1)
  print(n)

In [63]:
fn(3)

0
1
2
3

In [64]:
def rec():
  i=0
  i=i+1
  print('i',i)
  rec()

In [65]:
list1 = [1,2,3,4]

In [66]:
# filter
a = lambda e : e%2 == 0
print(a)
list2=filter(a,list1)
print([a for a in list2])

<function <lambda> at 0x7f4583b92170>
[2, 4]

In [67]:
# filter
b = lambda e : e%2 != 0
print(b)
list3=filter(b,list1)
print([a for a in list3])

<function <lambda> at 0x7f458192b050>
[1, 3]

In [68]:
# map
sqr=lambda s : s*s
sqrlist= map(sqr,list1)
print(list(sqrlist))

[1, 4, 9, 16]

In [69]:
# reduce
# import functools
from  functools import reduce
add=lambda a,b : a+b
# re = functools.reduce(add,list1)
re = reduce(add,list1)
re

10

In [70]:
square = lambda x : x*x if x > 0 else x
square(1)

1

In [71]:
#global variable
a=10
def fun():
  global a
  a +=2
  print(a)
fun()
a

12

12

In [72]:
b=20
def fun():
  # b=20
  global b
  b=30
  print(b)
fun()

30

In [73]:
# class
class Triangle:
  def __init__(self):
      self.height=0
      self.base=0

In [74]:
t1 = Triangle()
print(t1.base,t1.height)

0 0

In [75]:
print(t1)

<__main__.Triangle object at 0x7f45818d2790>

In [76]:
class PrivateClass:
  def __init__(self):
    self.__name='love'
    self.age=10

In [77]:
p1=PrivateClass()
print(p1.age)

10

In [78]:
# instance method
class NameAge:
  def __init__(self):
    self.name='krishna'
    self.age=23
  def read(self):
    self.name=input('inter our name')
    self.age= int(input('inter your age'))
  def find_area(self):
    return self.name,' ',self.age

In [79]:
n1=NameAge()
print(n1.name,n1.age)
n1.read()
print(n1.name,n1.age)

krishna 23
inter our namek
inter your age4
k 4

In [80]:
class Matrix:
  def __init__(self):
    self.matrix = [[],[]]
  def read(self):
    for i in range(2):
      for j in range(2):
        element=int(input("input element of matrix "))
        self.matrix[i].append(element)

  def print_matrix(self):
    for i in range(2):
      for j in range(2):
        print(self.matrix[i][j],end=" ")
      print()

In [82]:
m1=Matrix()
m1.read()
m1.print_matrix()

input element of matrix 1
input element of matrix 2
input element of matrix 3
input element of matrix 4
1 2
3 4

In [83]:
class Pri:
  def __init__(self):
    self.__x=10
    self.__y=20
  def print_xy(self):
     print(self.__x,self.__y)

In [84]:
p3=Pri()
p3.print_xy()

10 20

In [85]:
class Priv:
  def __init__(self):
    self.__x=20
    self.__y=40
  def private_access(self):
    print(self.__x,self.__y)
  def private_upate(self,x,y):
    self.__x=x
    self.__y=y

In [86]:
pr=Priv()
pr.private_access()
pr.private_upate(50,60)
pr.private_access()

20 40
50 60

In [87]:
class MyInter:
   def __init__(self,value = 0):
     self.__value = value
   def __str__(self):
     return str(self.__value)

In [88]:
a = MyInter()
b = MyInter(20)
print(a)
print(b)

0
20

In [97]:
class Marks:
  def __init__(self,sub1,sub2,sub3):
    self.__sub1=sub1
    self.__sub2=sub2
    self.__sub3=sub3
  def print_marks(self):
    print(self.__sub1,self.__sub2,self.__sub3)
  def compare_marks(self,stud2):
    if self.__sub1 == stud2.__sub1 and self.__sub2 == stud2.__sub2 and self.__sub3 == stud2.__sub3:
      return True
    else:
      return False

In [98]:
student1=Marks(20,30,40)
student2=Marks(40,50,60)
student3=Marks(70,80,90)

In [99]:
student1.print_marks()
student2.print_marks()
student3.print_marks()

20 30 40
40 50 60
70 80 90

In [100]:
b=student1.compare_marks(student3)
b

False

In [101]:
if b == True:
  print('marks are equals')
else:
  print('marks are not equals')

marks are not equals

In [136]:
# matrix inside matrix object
class Matrix:
  def __init__(self):
    self.__matrix=[[],[]]
  def read_matrix(self):
    print('input element of matrix')
    for i in range(2):
      for j in range(2):
        e=int(input("input element: "))
        self.__matrix[i].append(e)
      print()
  def print_matrix(self):
    print('print matrix element')
    for i in range(2):
      for j in range(2):
        print(self.__matrix[i][j],end=" ")
      print()        
  def add_matrix(self,m2):
    m3=Matrix()
    for i in range(2):
      for j in range(2):
        m3.__matrix[i].append(self.__matrix[i][j] + m2.__matrix[i][j])
    return m3

In [142]:
matrix1=Matrix()
matrix2=Matrix()
matrix1.read_matrix()
matrix2.read_matrix()
matrix1.print_matrix()
matrix2.print_matrix()
matrix3=matrix1.add_matrix(matrix2)

input element of matrix
input element: 1
input element: 2

input element: 3
input element: 4

input element of matrix
input element: 5
input element: 6

input element: 7
input element: 8

print matrix element
1 2
3 4
print matrix element
5 6
7 8

In [143]:
matrix3.print_matrix()

print matrix element
6 8
10 12

In [146]:
#without matrix inside matrix object
class Matrix:
  def __init__(self):
    self.__matrix=[[],[]]
  def read_matrix(self):
    print('input element of matrix')
    for i in range(2):
      for j in range(2):
        e=int(input("input element: "))
        self.__matrix[i].append(e)
      print()
  def print_matrix(self):
    print('print matrix element')
    for i in range(2):
      for j in range(2):
        print(self.__matrix[i][j],end=" ")
      print()        
  def add_matrix(self,m2):
    m3=[[],[]]
    for i in range(2):
      for j in range(2):
        m3[i].append(self.__matrix[i][j] + m2.__matrix[i][j])
    return m3

In [147]:
matrix1=Matrix()
matrix2=Matrix()
matrix1.read_matrix()
matrix2.read_matrix()
matrix1.print_matrix()
matrix2.print_matrix()
matrix3=matrix1.add_matrix(matrix2)

input element of matrix
input element: 1
input element: 2

input element: 3
input element: 4

input element of matrix
input element: 5
input element: 6

input element: 7
input element: 8

print matrix element
1 2
3 4
print matrix element
5 6
7 8

In [148]:
matrix3

[[6, 8], [10, 12]]